DEBUG=

SECRET_KEY=

ALLOWED_HOSTS=

GOOGLE_CLIENT_ID = 
GOOGLE_CLIENT_SECRET = 

STRIPE_SECRET_KEY=
STRIPE_PUBLISHABLE_KEY=
STRIPE_ENDPOINT_SECRET=
PLATFORM_FEE_PERCENT=
STRIPE_CURRENCY=


ZOOM_ACCOUNT_ID=
ZOOM_CLIENT_ID=
ZOOM_CLIENT_SECRET=
ZOOM_BASE_URL=
ZOMM_SECRET_TOKEN=
ZOOM_WEBHOOK_SECRET=
ZOOM_HOST_EMAIL=


GOOGLE_SERVICE_ACCOUNT_FILE=
GOOGLE_CALENDAR_HOST_EMAIL=