{% load static %}
{% load i18n %}

<!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <!-- Brand Logo -->
        <a href="{% url 'pages:landing' %}" class="nav-link">
          <img src="{% static 'dist/img/logo.png' %}" alt="EMS Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        </a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="{% url 'pages:landing' %}" class="nav-link">{% trans "Home" %}</a>
      </li>
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto rtl-ml-0 rtl-mr-auto">
      <!-- Navbar Search -->
      <li class="nav-item">
        <a class="nav-link" data-widget="navbar-search" href="#" role="button">
          <i class="fas fa-search"></i>
        </a>
        <div class="navbar-search-block">
          <form class="form-inline">
            <div class="input-group input-group-sm">
              <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
              <div class="input-group-append">
                <button class="btn btn-navbar" type="submit">
                  <i class="fas fa-search"></i>
                </button>
                <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </li>

      {% if request.user.is_authenticated %}
        {% if request.user.stripe_customer and request.user.stripe_customer.subscription_status == "active" %}

            <li class="nav-item d-none d-sm-inline-block">
                <span class="nav-link">
                    <span class="badge badge-success">
                        <i class="fas fa-crown mr-1"></i>
                        Premium
                    </span>
                </span>
            </li>

        {% else %}

            <li class="nav-item d-none d-sm-inline-block">
                <a href="{% url 'pages:go-premium' %}" class="nav-link text-warning font-weight-bold">
                    <i class="fas fa-crown mr-1"></i>
                    Go Premium
                </a>
            </li>

        {% endif %}
    {% endif %}

      {% if request.user.is_authenticated %}
      <!-- Notifications Dropdown Menu -->
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="far fa-bell"></i>
          <span class="badge badge-warning navbar-badge">15</span>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end">
          <span class="dropdown-item dropdown-header">15 Notifications</span>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-envelope mr-2"></i> 4 new messages
            <span class="float-right text-muted text-sm">3 mins</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-users mr-2"></i> 8 friend requests
            <span class="float-right text-muted text-sm">12 hours</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-file mr-2"></i> 3 new reports
            <span class="float-right text-muted text-sm">2 days</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
            <i class="fas fa-user-circle"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end">
          {% if request.user.is_student %}
            <a href="{% url 'student-profile' %}" class="dropdown-item"><i class="fas fa-user mr-2"></i>Profile</a>
          {% else %}
            <a href="{% url 'teacher-profile' %}" class="dropdown-item"><i class="fas fa-user mr-2"></i>Profile</a>
          {% endif %}
          <a href="{% url 'account_email' %}" class="dropdown-item">
            <i class="fas fa-envelope mr-2"></i> Email Settings
          </a>
          <a href="{% url 'account_change_password' %}" class="dropdown-item">
            <i class="fas fa-key mr-2"></i> Change Password
          </a>
          <div class="dropdown-divider"></div>
          <a href="{% url 'account_logout' %}" class="dropdown-item">
            <i class="fas fa-sign-out-alt mr-2"></i> Logout
          </a>
        </div>
      </li>
      <!-- <li class="nav-item d-none d-sm-inline-block">
        <a href="{% url 'account_logout' %}" class="nav-link">
          <i class="fas fa-sign-out-alt"></i>
        </a>
      </li> -->
      {% else %}
      <li class="nav-item d-none d-sm-inline-block">
        <a href="{% url 'account_login' %}" class="nav-link">Login</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="{% url 'account_signup' %}" class="nav-link">Register</a>
      </li>
      {% endif %}
      <!-- <li class="nav-item">
        <a class="nav-link" data-widget="fullscreen" href="#" role="button">
          <i class="fas fa-expand-arrows-alt"></i>
        </a>
      </li> -->
    </ul>
  </nav>
  <!-- /.navbar -->