{% load static %}
<link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">

<link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
<!-- Toastr -->
<link rel="stylesheet" href="{% static 'plugins/toastr/toastr.min.css' %}">
<link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}">
{% if LANGUAGE_BIDI %}
<link rel="stylesheet" href="{% static 'dist/css/adminlte.rtl.min.css' %}">
{% endif %}
